<!-- admin-dashboard.component.html -->
<div class="admin-layout d-flex">
  <main class="p-4 flex-grow-1">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Panel de Administración</h1>
        <a (click)="logout()" class="btn btn-primary">Cerrar sesion</a>
      </div>
      <p>Bienvenido al panel de administración. Aquí puedes gestionar las películas y categorías.</p>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Listado</h3>
        <a [routerLink]="['/admin/crear']" class="btn btn-success">Nueva Película</a>
      </div>
    </div>

    <div class="usuarios-activos">
  <h3>Usuarios en línea</h3>
  <ul>
    <li *ngFor="let userId of activeUsers">
      <button (click)="abrirChatCon(userId)">Chatear con {{ userId }}</button>
    </li>
  </ul>
</div>

<div class="chats-abiertos">
  <app-chat *ngFor="let userId of chatsAbiertos"
            [supportUserId]="userId"
            (closeChatEvent)="cerrarChat(userId)">
  </app-chat>
</div>

    <router-outlet></router-outlet>
  </main>