.chat-container {
  border: 1px solid #ccc;
  width: 350px;
  display: flex;
  flex-direction: column;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.chat-header {
  background-color: #2e8b57;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  gap: 5px;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-input input {
  flex: 1;
  padding: 8px; 
  border-radius: 20px; 
  border: 1px solid #ddd;
}

.own {
  text-align: right;
  background-color: #dcf8c6;
  margin: 5px;
  padding: 8px 12px; 
  border-radius: 15px 15px 0 15px; 
  max-width: 70%;
  align-self: flex-end;
}

.other {
  text-align: left;
  background-color: #f1f0f0;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 15px 15px 15px 0; 
  max-width: 70%; 
  align-self: flex-start;
}