<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Título</th>
      <th>Categoría</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pelicula of peliculas">
      <td>{{ pelicula.titulo }}</td>
      <td>{{ pelicula.categoria?.nombre }}</td>
      <td>
        <button class="btn btn-primary me-2" (click)="editarPelicula(pelicula?.id_pelicula)">Editar</button>
        <button class="btn btn-danger" (click)="eliminarPelicula(pelicula?.id_pelicula)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
